@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 32px;
}

a {
    text-decoration: none;
    position: relative;
}

.section__heading--center{
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 16px;
    text-align: center;
}

.description__heading--center {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: center;
}

.description__para--center {
    max-width: 600px;
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    margin: 20px 0 0 0;
    text-align: center;
}

.section__heading--left{
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 16px;
    text-align: left;
}

.description__heading--left {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: left;
}

.description__para--left {
    max-width: 600px;
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    margin: 20px 0 0 0;
    text-align: left;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.text--purple {
    color: #6415FF;
}

.text--white {
    color: #F7FAFC !important;
}

.text--light {
    color: #EDF2F7 !important;
}

.text--gray {
    color: #E2E8F0 !important;
}

section:nth-child(odd) {
    animation: fade-left-to-right 600ms 250ms backwards;
}

section:nth-child(even) {
    animation: fade-right-to-left 600ms 250ms backwards;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style-type: none;
}

.nav__link {
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0 24px;
    padding: 0 0 4px;
    transition: all 300ms;
}

.nav__link:hover {
    color: #6415FF;
}

.nav__link--hover::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: #6415FF;
    opacity: 0;
    transition: 300ms;
}

.nav__link--hover:hover::after {
    opacity: 1;
}

.nav__link--secondary {
    margin: 0 24px 0 48px;
}

.nav__link--primary {
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 12px 32px;
    border-radius: 9999px;
    margin: 0;
    transition: all 300ms;
}

.nav__link--primary:hover {
    background-color: #5011CC;
    color: #F7FAFC;
}

.nav__logo {
    display: flex;
    align-items: center;
    color: #243E63;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.3px;
    margin: 0 24px 0 0;
    padding: 0 0 4px;
    transition: all 300ms;
}

.nav__logo:hover {
    color: #6415FF;
}

.nav__logo--img {
    margin: 0 12px 0 0;
}

/* LANDING PAGE */

.landing__container {
    display: flex;
    align-items: center;
    padding: 96px 0;
}

.landing__container--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.landing__container--right {
    width: 60%;
}

.landing__heading {
    color: #1A202C;
    font-size: 48px;
    letter-spacing: 1.3px;
}

.landing__para {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.landing__input--container {
    position: relative;
    max-width: 450px;
}

.landing__input--email {
    width: 100%;
    border-radius: 9999px;
    border: 2px solid #E2E8F0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 192px 20px 32px;
    transition: all 300ms;
    color: #243E63;
}

::placeholder {
    color: #ced2d8;
}

.landing__input--email:hover {
    border-color: #B0B0B0;
}

.landing__input--btn {
    position: absolute;
    color: #F7FAFC;
    font-size: 16px;
    font-weight: 700;
    background-color: #6415FF;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    width: 35%;
    border-radius: 9999px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 300ms;
}

.landing__input--btn:hover {
    background-color: #5011CC;
    cursor: pointer;
}

.landing__customer--container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.landing__customer--para {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.landing__customer--logos {
    margin-top: 16px;
    padding-right: 128px;
}

.landing__img {
    width: 100%;
    height: auto;
}

/* FEATURES */

.features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 0;
    width: 100%;
    max-width: 1024px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 20px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__description--title {
    color: #243E63;
    font-size: 24px;
    letter-spacing: 1px;
}

.service__description--para {
    color: #7C8BA1;
    margin: 16px 0 0;
    line-height: 2;
    font-weight: 500;
}

.service__img--container {
    font-size: 20px;
    color: #6415FF;
}

.rotate {
    transform: rotate(90deg);
}

#features i {
    padding: 24px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 9999px;
}

/* QUALITY WORK */

.quality__container {
    display: flex;
}

.quality__container--left {
    width: 50%;
    padding: 32px 0;
}

.quality__container--right {
    width: 50%;
}

.quality__container--img {
    width: 100%;
    height: auto;
}

.learn-more__btn {
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 12px 32px;
    border-radius: 9999px;
    margin: 0;
    transition: all 300ms;
    border: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 32px;
}

.learn-more__btn:hover {
    background-color: #5011CC;
    cursor: pointer;
}

/* STEPS */

.steps__container {
    display: flex;
}

.steps__container--left {
    width: 50%;
}

.steps__img {
    width: 100%;
    height: auto;
}

.steps__container--right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.steps {
    margin-top: 16px;
    list-style-type: none;
    width: 100%;
    max-width: 400px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.step__number {
    color: #CBD5E0;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
}

.step__description--title {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
}

.step__description--para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-top: 12px;
}

/* VALUES */

.values__container {
    display: flex;
}

.values__container--left {
    width: 50%;
}

.values__container--right {
    width: 50%;
}

.principles {
    display: flex;
}

.principle {
    display: flex;
    flex-direction: column;
}

.principle-left {
    margin-right: 24px;
}

.principle__title {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.fa-dollar-sign {
    color: #276749;
    background-color: #9AE6B4;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 9999px;
}

.fa-briefcase {
    color: #9B2C2C;
    background-color: #FEB2B2;
    font-size: 18px;
    padding: 12px;
    border-radius: 9999px;
}

.principle__title--text {
    color: #243E63;
    font-size: 20px;
    margin-left: 12px;
}

.principle__para {
    color: #718096;
    margin: 16px 0;
    line-height: 1.625;
}

.values__img {
    width: 100%;
}

/* PRICING */

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px 0;
}

.plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    position: relative;
}

.plan__primary {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-bottom: 2px solid #667EEA !important;
}

.plan__top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 32px;
    right: 32px;
    top: 0;
    height: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plan__top--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 32px 0;
    width: 100%;
    border-left: 1px solid #cbd5e08a;
    border-right: 1px solid #cbd5e08a;
    border-bottom: 2px solid #cbd5e08a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    border-left: 1px solid #cbd5e08a;
    border-right: 1px solid #cbd5e08a;
    border-bottom: 2px solid #cbd5e08a;
}

.plan__type {
    color: #1A202C;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.625;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5px;
}

.plan__price {
    color: #1A202C;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.625;
    margin: 4px 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.plan__term {
    color: #A0AEC0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.625;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.plan__feature--primary {
    color: #1A202C;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5px;
}

.plan__feature {
    color: #718096;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.plan__btn--container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px 64px;
    border-left: 1px solid #cbd5e08a;
    border-right: 1px solid #cbd5e08a;
    border-bottom: 1px solid #cbd5e08a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plan__btn {
    color: #F7FAFC;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 48px;
    border: none;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.plan__btn--primary {
    color: #6415FF;
    background-color: #F7FAFC;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 48px;
    border: none;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.plan__btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn:hover,
.plan__btn--primary:hover {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translate(1px, -1px);
}

.plan__btn--primary:hover {
    background-color: #E2E8F0;
}

/* TESTIMONIAL */

.testimonial__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__container--left {
    width: 50%;
}

.testimonial__img {
    width: 100%;
}

.testimonial__container--right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}

.ratings {
    margin-top: 32px;
    color: rgb(246, 173, 85);
}

.review__title {
    font-size: 20px;
    color: #243E63;
    letter-spacing: 0.3px;
    margin: 16px 0;
}

.review__para {
    color: #4A5568;
    margin-bottom: 40px;
    line-height: 1.625;
    font-weight: 500;
}

.reviewer {
    display: flex;
    justify-content: space-between;
}

.person {
    display: flex;
}

.person__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.person__name {
    color: #243E63;
    font-size: 20px;
    letter-spacing: 0.3px;
}

.person__position {
    color: #7C8BA1;
    font-weight: 500;
    margin-top: 4px;
}

.person__img--mask {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.person__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% center;
}

.arrows {
    display: flex;
    align-items: center;
}

.arrow__btn {
    color: #6415FF;
    background-color: rgb(237, 242, 247);
    font-size: 16px;
    border: none;
    border-radius: 9999px;
    padding: 16px 18px;
    margin: 0 12px;
    transition: all 300ms ease;
}

.arrow__btn:hover {
    background-color: rgb(226, 232, 240);
    cursor: pointer;
}

.divider {
    border-right: 1px solid rgb(226, 232, 240);
    height: 26px;
}

/* ANIMATIONS */

@keyframes fade-left-to-right {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade-right-to-left {
    0% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(0);
    }
}